[submodule "gamemodes/obiekty"]
	path = gamemodes/obiekty
	url = https://github.com/gumbalowsky/Mrucznik-RP-obiekty-fork.git
[submodule "include"]
	path = include
	url = https://github.com/Mrucznik/Mrucznik-RP-Includes.git
[submodule "models"]
	path = models
	url = git@github.com:Mrucznik/Mrucznik-RP-models
